body{
    background-color: #333;
    user-select: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #000;
    border-radius: 5px;
    max-width: 450px;
    font-family: "Tahoma", sans-serif;
    margin: 30px auto;
}

.item {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #000;
    background-color: #333;
}

.input{
    grid-column: 1/-1;
    padding: 0 15px 0 0;
    background-color: #000000;
    height: 70px;
    overflow: hidden;
    color: #fff;
    font-size: 25px;
    justify-content: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
}

.percent, .back, .clean{
    background-color: #a5a5a5;
    color: #333;
}

.equal{
}

.zero{
}

.upper{
    font-size: 10px;
    margin-left: 3px;
    margin-top: -15px;
}

.right-s{
    font-size: 10px;
    margin-left: 2px;
}

.color_btn{
    background-color: #fe9c04;
}

.color_fun{
    background-color: #212121;
}

.item:active{
    background-color: #efefef;
}

@media screen and (max-width: 1220px) {
    .container{
        max-width: none;
        width: 50%;
    }
}